# Variáveis de ambiente (credenciais privadas - NUNCA ENVIAR)
.env
.env.local
.env.*.local

# IDEs e editores de texto
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Pastas temporárias de dependências do Flutter
pomodoro_flutter/.dart_tool/
pomodoro_flutter/.flutter-plugins
pomodoro_flutter/.flutter-plugins-dependencies
pomodoro_flutter/.metadata
pomodoro_flutter/.packages

# Pasta de build padrão do Flutter (Ignora arquivos temporários pesados)
pomodoro_flutter/build/

# ==========================================
# EXCEÇÕES DE DISTRIBUIÇÃO (Auto-Update)
# ==========================================
# Permite rastrear e enviar os APKs finais gerados para o Android
!pomodoro_flutter/build/app/outputs/flutter-apk/*.apk

# Permite rastrear e enviar a pasta compilada final de Release para o Windows
!pomodoro_flutter/build/windows/x64/runner/Release/
