# Variáveis de ambiente (credenciais privadas - NUNCA ENVIAR)
.env
.env.local
.env.*.local

# IDEs e editores de texto
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Pastas temporárias de dependências do Flutter
pomodoro_flutter/.dart_tool/
pomodoro_flutter/.flutter-plugins
pomodoro_flutter/.flutter-plugins-dependencies
pomodoro_flutter/.metadata
pomodoro_flutter/.packages

# Pasta de build padrão do Flutter (Ignora arquivos temporários pesados inteiramente)
pomodoro_flutter/build/
